
<div id="page" ng-controller="CartCtrl">
    <section id="page_content" class="">
        <main class="main-content">
            <section id="columns" class="columns-container">
                <div class="container">
                    <div class="row">
                        <div id="center_column" class="center_column col-md-12">
                            <div id="cart-page">

                                <form action="/cart" method="post" novalidate class="cart">
                                    <h1 class="cartTitle">Giỏ hàng của tôi</h1>
                                    <div class="page-content">
                                        <div class="cart_header_labels clearfix">
                                            <div class="label_item col-xs-12 col-sm-2 col-md-2">
                                                <div class="cart_product first_item">
                                                    Sản phẩm
                                                </div>
                                            </div>
                                            <div class="label_item col-xs-12 col-sm-3 col-md-3">
                                                <div class="cart_description item">
                                                    Mô tả
                                                </div>
                                            </div>
                                            <div class="label_item col-xs-12 col-sm-2 col-md-2">
                                                <div class="cart_price item">
                                                    Giá (VNĐ)
                                                </div>
                                            </div>
                                            <div class="label_item col-xs-12 col-sm-2 col-md-2">
                                                <div class="cart_quantity item">
                                                    Số lượng
                                                </div>
                                            </div>
                                            <div class="label_item col-xs-12 col-sm-2 col-md-2">
                                                <div class="cart_total item">
                                                    Thành tiền (VNĐ)
                                                </div>
                                            </div>
                                            <div class="label_item col-xs-12 col-sm-1 col-md-1">
                                                <div class="cart_delete last_item">
                                                    Xóa
                                                </div>
                                            </div>
                                        </div>
                                        <div class="list_product_cart clearfix" ng-repeat="item in Products">
                                            <div class="cpro_item col-xs-12 col-sm-2 col-md-2">
                                                <div class="cpro_item_inner">
                                                    <a href="/Shop/Detail/{{item.ItemId}}" class="cartImage">
                                                        <img class="img-responsive" ng-src="{{item.ImageUrl}}">
                                                    </a>
                                                </div>
                                            </div>
                                            <div class="cpro_item col-xs-12 col-sm-3 col-md-3">
                                                <div class="cpro_item_inner">
                                                    <a href="/Shop/Detail/{{item.ItemId}}" class="product_name" ng-bind="item.Name">
                                                       @* {{item.Name}}*@
                                                    </a>
                                                </div>
                                            </div>
                                            <div class="cpro_item col-xs-12 col-sm-2 col-md-2">
                                                <div class="cpro_item_inner">
                                                    <span class="price product-price"><span class='money' ng-bind="item.Price |currency :'': 0" ></span></span>
                                                </div>
                                            </div>
                                            <div class="cpro_item text-center col-xs-12 col-sm-2 col-md-2">
                                                <div class="cpro_item_inner">
                                                    <div class="ajaxcartQty">
                                                        <button type="button" class="ajaxcartQtyAdjust ajaxcartQtyMinus" ng-click="QtyAdjust($index,0)" data-qty="0">−</button>
                                                        <input type="text" restrict-to="[0-9]" ng-model="item.Quantity" ng-blur="ngBlurModal($index);" ng-change="UpdateQtyOrder($index);" min="0" pattern="[0-9]*">
                                                        <button type="button" class="ajaxcartQtyAdjust ajaxcartQtyPlus" ng-click="QtyAdjust($index,1)" data-qty="11">+</button>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="cpro_item col-xs-12 col-sm-2 col-md-2">
                                                <div class="cpro_item_inner">
                                                    <span class="price product-price"><span class='money' ng-bind="item.Price * item.Quantity | currency : '' : 0"></span></span>
                                                </div>
                                            </div>
                                            <div class="cpro_item col-xs-12 col-sm-1 col-md-1">
                                                <div class="cpro_item_inner">
                                                    <a style="cursor:pointer" class="cart__remove" ng-click="RemoveItemOrder($index)">
                                                        <small>Xóa</small>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                        
                                    </div>
                                </form>
                                <p class="cart_navigation clearfix">
                                    <a class="btn btn-outline" href="@Url.Action("Index","Shop")" title="Continue shopping">Tiếp tục mua hàng</a>
                                    <a class="btn btn-outline" href="@Url.Action("CheckOut","Cart")" title="Thanh toán" ng-show="Products !=null">Thanh toán</a>
                                </p>

                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </main>

        <div id="loading" class="loading_site" style="display: none;"></div>
    </section>
</div>