@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<main class="main-content">
    <section id="columns" class="columns-container page_404">
        <div class="container">
            <div class="row">
                <div id="center_column" class="center_column col-sm-12 col-md-12">
                    <div class="page-404">
                        <h1>404</h1>
                        <h2>Page Not Found f</h2>
                        <p class="des_cription_404">We're sorry, but we can't find the page you were looking for. It's probably <br> some thing we've done wrong but now we know about it and we'll try to fix it.<br> In the meantime, try one of these options:</p>
                        <div class="text-center btn_404">
                            <a href="@Url.Action("Index","Collection")" class="btn btn-outline-inverse">Bộ sưu tập</a>
                            <a href="@Url.Action("Index","Home")" class="btn btn-outline-inverse">Trở lại trang chủ</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>